* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Catamaran, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    background-color: red;
    justify-content: space-around;
    align-items: center
}
.header-logo{
    padding-left: 0%
}
.header-login-form{
    background-color: red;
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.header-login-form-usuario, .header-login-form-password{
    display: flex;
    flex-direction: row;
    margin: 2vh 0;
}
.header-login-form-submit input[type="submit"]{
    width: 100%
}

.jumbotron{
    background-image: url("../assets/img/jumbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100%;
    margin: 0 0 2.5% 0;
}
.tiendas{
    margin-left: 20vw;
    background-color: rgba(0,0,0,0.6);
    color: white;
    width: 28vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mensaje-tienda{
    font-size: 30px;
    margin: 5%
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logos-tienda{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.funcionamiento, .opiniones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 2.5% 0;
}
.funcionamiento{
    text-align: center
}
.funcionamiento .paso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}
.paso-circulo{
    border-radius: 50%;
    background: linear-gradient(180deg,#ffcc32 0%,#f9a019 100%);
    color: white;
    align-content: center;
    width: 45px;
    height: 45px;
    font-size: 40px
}
.paso-titulo{
    font-style: bold;
    font-size: 30px;
}
.paso-texto{
    font-size: 20px;
}

.contacto{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: 5% 10%;
    align-content: center;
    justify-content: space-around;
}
.iphone{
    max-height: 100%;
    max-width: 100%
}
.contacto-formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh;
    height: 60vh;
    width: 60vh;
    border: 2px solid grey;
    font-size: 12px;
    margin: 10vh;
}
.campo-formulario input,.campo-formulario select{
    display: inline-block;
    width: 100%;
    padding: 5px;
}
#privacy{
    color: darkgoldenrod;
    font-weight: bolder;
    text-decoration: underline
}
.boton-formulario input[type="submit"]{
    width: 100%;
    background-color: green;
    color: white;
    padding: 5px
}

.campo-formulario input,.boton-formulario input{
    display:inline-block;
    width: 100%;
    padding: 5px;
}
.boton-formulario input{
    background-color: green;
    color: white;
}
.contacto-formulario-invalid{
    border: red solid 2px;
}
.contacto-formulario-valid{
    border: green solid 2px;
}
.status-invalid{
    color: red;
}
.status-valid{
    color: green;
}
.status-show{
    display:inline
}
.status-noshow{
    display: none
}

.opiniones{
    margin: 1% 0;
    font-size: 15px;
    display:flex;
}
.opiniones-indiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin: 1%;
    width: 25%;
}
.opiniones-indiv-texto{
    padding: 5%;
    border: 2px solid grey;
    margin-bottom: 2.5%;
}
.opiniones-indiv-nombre{
    padding: 2%;
}
.opiniones-indiv-ciudad{
    padding: 2%;
}

footer{
    text-align: center;
    align-content: center;
    background-color: red;
    color: white;
    padding: 2vh
}


h1 {
    font-style: bold;
}

.registro{
    background-color: blue;
}

#formulario{
    margin: 10%;
    text-align: center;
}

.formulario-registro
{
    background-color: blue;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh;
    height: 60vh;
    width: 60vh;
    border: 2px solid grey;
    font-size: 12px;
    margin: 10vh;*/
}

/* MEDIA QUERIES */
@media (max-width:800px){
    .jumbotron{
        background-image: url("../assets/img/jumbo@1x.jpg");
        background-position: center center;
        background-size: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tiendas{
        background-color: rgba(0,0,0,0.6);
        margin-left: 0;
        color: white;
        width: 75vh;        
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .mensaje-tienda{
        font-size: 30px;
        text-align: center;
        align-content: center;
        justify-content: center
    }
    .logos{
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .logos-tienda{
        text-align: center;
        margin-top: 5%;
        width: 90%
    }

    .funcionamiento{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center
    }
    .funcionamiento{
        text-align: center
    }
    .funcionamiento .paso{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 2.5%;
    }
    .paso-circulo{
        border-radius: 50%;
        background: linear-gradient(180deg,#ffcc32 0%,#f9a019 100%);
        color: white;
        align-content: center;
        width: 45px;
        height: 45px;
        font-size: 40px
    }
    .paso-titulo{
        font-style: bold;
        font-size: 30px;
    }
    .paso-texto{
        font-size: 20px;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        margin: 20vh 0%;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }
    .iphone{
        max-height: 50vh;
        max-width: 50vw
    }
    .contacto-formulario{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vh;
        height: 60vh;
        width: 60vh;
        border: 2px solid grey;
        font-size: 12px;
        margin: 5vh 0 0 0;
    }
    input[type=text],input[type=email],select{
        display: inline-block;
        width: 100%;
        padding: 5px;
    }
    select{
        margin-bottom: 2vh;
    }
    input[type=submit]{
        width: 100%;
        background-color: green;
        color: white;
        padding: 5px;
        margin-top: 5px
    }
    #privacy{
        color: darkgoldenrod;
        font-weight: bolder;
        text-decoration: underline;
    }

    .opiniones{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 1% 0;
        font-size: 15px;
    }
    .opiniones-indiv{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 1%;
        margin: 1%;
        width: 75vw;
    }
    .opiniones-indiv-texto{
        padding: 5%;
        border: 2px solid grey;
        margin-bottom: 2.5%;
    }
    .opiniones-indiv-nombre{
        padding: 2%;
    }
    .opiniones-indiv-ciudad{
        padding: 2%;
    }
}