* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Catamaran, sans-serif;
    text-align: center;
}

header{
    display: flex;
    height: 20vh;
    background-color: rgba(255, 0, 0, 1);
    align-items: center;
    justify-content: flex-start
}

.header-logo{
    padding-left: 10%;
}

h1,h2{
    font-style: italic;
}

.registro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
.registro-informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5vh;
    align-items: center
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: left;
    justify-content: space-around;
}

.formulario-registro
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    border: 2px solid grey;
    font-size: 15px;
    margin: 5vh 0;
    align-items: center;
}

.formulario-registro-contraseña, .formulario-registro-confContra{
    padding: 0px;
}

.formulario-registro-boton
{
    width: 20vh;
    padding: 0;
}
.formulario-registro-boton input
{
    align-self: center;
    padding: 10px;
    background-color: green;
    color: white;
}
.contacto-formulario-invalid{
    border: red solid 2px;
}
.contacto-formulario-valid{
    border: green solid 2px;
}
.status-invalid{
    color: red;
}
.status-valid{
    color: green;
}
.status-show{
    display:inline
}
.status-noshow{
    display: none
}

footer{
    text-align: center;
    align-content: center;
    background-color: red;
    color: white;
    padding: 2vh
}
