<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/styles.css">
        {% endblock %}
    </head>
    <body>
        <header class="header">
            {% block header %}
                <picture class="header-logo">
                    <a href="/"> <img class="logo" src="assets/img/logo.svg"></a>
                </picture>
            {% endblock %}
        </header>
        {% block body %}
        {% set nombre = "MIGUEL" %}
        {#Esto es un comentario #}
        <h1>{{nombre}}</h1>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}
            <footer>
                <picture class="logo-footer">
                    <img id="logo" src="assets/img/logo.svg">
                </picture><br>
                Programado por Miguel Lallena
            </footer>
        {% endblock %}
    </body>
</html>
