{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/mainStyle.css">
{% endblock %}
{% block header %}
    {{ parent() }}
    <form class="header-login-form" method="POST" action="{{ path('login')}}">
        <div class="header-login-form-usuario">
            <p>Usuario
            <input type="text" name="user"></p>
        </div>
        <div class="header-login-form-password">
            <p>Contraseña
            <input type="password" name="password"></p>
        </div>
        <div class="header-login-form-submit">
            <input type="submit" value="¡Entra!">
        </div>
    </form>
{% endblock %}
{% block body %}
    <section class="jumbotron">
        <article class="tiendas">
            <p class="mensaje-tienda">
                Gana dinero guardando equipaje a viajeros como tú
            </p>
            <div class="logos">
                <picture class="logos-tienda">
                    <img class="logos-tienda" src="assets/img/app-store.svg">
                </picture>
                <picture class="logos-tienda">
                    <img class="logos-tienda" src="assets/img/google-play.svg">
                </picture>
            </div> 
        </article>
    </section>
    <section class="funcionamiento">
        <article class="funcionamiento">
            <div class="paso">
                <div class="paso-circulo">1</div>
                <div class="paso-titulo">Date de alta</div>
                <div class="paso-texto">Inscríbete de manera gratuita en nuestra página web</div>
            </div>
            <div class="paso">
                <div class="paso-circulo">2</div>
                <div class="paso-titulo">Escoge opciones</div>
                <div class="paso-texto">Decide qué servicios ofrecer estás dispuesto a ofrecer a los potenciales clientes</div>
            </div>
            <div class="paso">
                <div class="paso-circulo">3</div>
                <div class="paso-titulo">Gana dinero</div>
                <div class="paso-texto">Nosotros te pondremos en contacto con los viajeros, y podrás negociar con ellos las fechas de entrega y recogida de equipaje</div>
            </div>
        </article>
    </section>
    <section class="contacto">
        <picture class="contacto-foto">
            <img class="iphone" src="assets/img/iPhoneX.png">
        </picture>
        <section class="entrada">
            <form id="demo" class="contacto-formulario" method="POST" action="{{ path('registro')}}">
                <h3>Solicita una demo</h3>
                <div class="campo-formulario">
                    <p><label for="usuario">Nombre</label><br>
                        <input type="text" name="usuario" id="contacto-formulario-nombre" placeholder="Harry Dresden" required="required"><br>
                        <label for="usuario" id="contacto-formulario-nombre-message" class="status-noshow">Nombre inválido (mínimo 2 caracteres)</label>
                    </p>
                </div>
                <div class="campo-formulario">
                    <p><label for="email">Email</label><br>
                        <input type="email" name="email" id="contacto-formulario-email" placeholder="harried_wizard@hotmail.com" required="required"><br>
                        <label for="email" id="contacto-formulario-email-message" class="status-noshow">Correo electrónico inválido</label>
                    </p>
                </div>
                <div class="campo-formulario">
                    <p>¿Dónde quieres ir?<br>
                    <select id="contacto-formulario-pais" class="contacto-formulario-pais" name="pais">
                        <option value="none">Escoge un país</option>
                        {% for pais in paises %}
                            <option value="{{ pais }}">{{ pais }}</option>
                        {% endfor %}
                    </select>
                    <select id="contacto-formulario-region" class="contacto-formulario-region" name="region">
                    </select>
                    <select id="contacto-formulario-ciudad" class="contacto-formulario-ciudad" name="ciudad">
                    </select>
                    <label for="email" id="contacto-formulario-ciudad-message" class="status-noshow">Correo electrónico inválido</label>
                    </p>
                </div>
                <div class="campo-politica">
                    <p>
                        <input type="checkbox" name="politica" required>
                        Acepto la <a id="privacy" href="#">política de privacidad</a>
                    </p>
                </div>
                <div class="boton-formulario">
                    <input type="submit" value="¡Empieza tu aventura!">
                </div>
            </form>
            Si desea hacer una reserva, pulse <a href="/maletero">aquí</a>.
        </section>
    </section>
    <section class="opinando">
        <h2>Opiniones de nuestros viajeros</h2>
        <div class="opiniones">
        {% for opinion in opiniones %}
            <article class='opiniones-indiv'>
                <div class='opiniones-indiv-texto'>
                    {{opinion.texto}}
                </div>
                <div class="opiniones-indiv-nombre">
                    {{opinion.usuario}}
                </div>
                <div class="opiniones-indiv-ciudad">
                    {{opinion.ciudad}}
                </div>
            </article>
        {% endfor %}
        </div>
        <div style="text-align: center;">Si desea dar su opinión, puede hacerlo <a href="/opinar">aquí</a>.</div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="js/validacionMain.js"></script>
    <script>
        var paises = [];
        {% for pais in paises %}
            paises.push("{{pais}}");
        {% endfor %}
        var regiones = [];
        {% for region in regiones %}
            regiones.push({"region": "{{region.region}}","pais": "{{region.pais}}"});
        {% endfor %}
        var ciudades = [];
        {% for ciudad in ciudades %}
            ciudades.push({"ciudad": "{{ciudad.ciudad}}","region": "{{ciudad.region}}","pais": "{{ciudad.pais}}"});
        {% endfor %}

        function getRegiones(pais){
            var regions = [];
            for(region of regiones){
                if(region["pais"] == pais){
                    regions.push(region["region"]);
                }
            }
            return regions;
        }
        function getCiudades(pais,region){
            var cities = [];
            for(ciudad of ciudades){
                if(ciudad["pais"]==pais && ciudad["region"]==region){
                    cities.push(ciudad["ciudad"]);
                }
            }
            return cities;
        }
        
        function setRegiones(){
            var optPais = document.getElementById("contacto-formulario-pais");
            var optRegion = document.getElementById("contacto-formulario-region");
            var optCiudad = document.getElementById("contacto-formulario-ciudad");
            while(optRegion.firstChild){
                optRegion.removeChild(optRegion.firstChild);
            }
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);
            }
            var pais = optPais.value;
            if(paises.includes(pais)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una region";
                option0.value = "none";
                optRegion.appendChild(option0);
                var regions = getRegiones(pais);
                for(region of regions){
                    var option = document.createElement("option");
                    option.text = region;
                    option.value = region;
                    optRegion.appendChild(option);        
                }
            }
        }
        function setCiudades(){
            var optPais = document.getElementById("contacto-formulario-pais");
            var pais = optPais.value;
            var regions = getRegiones(pais);
            var optRegion = document.getElementById("contacto-formulario-region");
            var region = optRegion.value;
            var optCiudad = document.getElementById("contacto-formulario-ciudad");
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);   
            }
            if(regions.includes(region)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una ciudad";
                option0.value = "none";
                optCiudad.appendChild(option0);            
                var cities = getCiudades(pais,region);
                for(city of cities){
                    var option = document.createElement("option");
                    option.text = city;
                    option.value = city;
                    optCiudad.appendChild(option);        
                }
            }
        }

        window.onload = function(){
            document.getElementById("contacto-formulario-pais").onblur = setRegiones;
            document.getElementById("contacto-formulario-region").onblur = setCiudades;
        }
    </script>
{% endblock %}