{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/registroStyle.css">
{% endblock %}
{% block body %}
<h1>Busca tu guardián y ¡a disfrutar!</h1>

<div class="maletero">
    <form class="maletero-formulario" method="POST" action="{{path('reserva')}}">
        <div class="campo-formulario">
            <p>Viajero
            <input type="text" id="maletero-formulario-viajero" class="maletero-formulario-viajero" name="viajero" /></p>
        </div>
        <div class="campo-formulario">
            <p>País 
                <select id="maletero-formulario-pais" class="maletero-formulario-pais" name="pais">
                    <option value="none">Escoge un país</option>
                    {% for pais in paises %}
                        <option value="{{ pais }}">{{ pais }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <div class="campo-formulario">
            <p>Región
                <select id="maletero-formulario-region" class="maletero-formulario-region" name="region"></select>
            </p>
        </div>
        <div class="campo-formulario">
            <p>Ciudad 
                <select id="maletero-formulario-ciudad" class="maletero-formulario-ciudad" name="ciudad"></select>
            </p>
        </div>
        <div class="campo-formulario">
            <p>Guardianes
                <select id="maletero-formulario-guardian" class="maletero-formulario-guardian" name="guardian"></select>
            </p>
        </div>
        <div class="campo-formulario">
            <p>Indique la fecha y hora de inicio
                <input type="datetime-local" id="maletero-formulario-inicio" class="maletero-formulario-inicio" name="fechaInicio">
            </p>
        </div>
        <div class="campo-formulario">
            <p>Indique la fecha y hora de fin
                <input type="datetime-local" id="maletero-formulario-fin" class="maletero-formulario-fin" name="fechaFin">
            </p>
        </div>
        <div class="boton-formulario">
            <input type="submit" value="¡Reserva!">
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var paises = [];
        {% for pais in paises %}
            paises.push("{{pais}}");
        {% endfor %}
        var regiones = [];
        {% for region in regiones %}
            regiones.push({"region": "{{region.region}}","pais": "{{region.pais}}"});
        {% endfor %}
        var ciudades = [];
        {% for ciudad in ciudades %}
            ciudades.push({"id":"{{ciudad.id}}","ciudad": "{{ciudad.ciudad}}","region": "{{ciudad.region}}","pais": "{{ciudad.pais}}"});
        {% endfor %}
        var usuarios = [];
        {% for usuario in usuarios %}
            usuarios.push({"id":"{{usuario.id}}","nombre": "{{usuario.nombre}}","email": "{{usuario.email}}","ciudad": "{{usuario.ciudad}}","guardian": "{{usuario.guardian}}"});
        {% endfor %}

        function getRegiones(pais){
            var regions = [];
            for(region of regiones){
                if(region["pais"] == pais){
                    regions.push(region["region"]);
                }
            }
            return regions;
        }

        function setRegiones(){
            var optPais = document.getElementById("maletero-formulario-pais");
            var optRegion = document.getElementById("maletero-formulario-region");
            var optCiudad = document.getElementById("maletero-formulario-ciudad");
            var optGuardian = document.getElementById("maletero-formulario-guardian");
            var pais = optPais.value;
            while(optRegion.firstChild){
                optRegion.removeChild(optRegion.firstChild);
            }
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);
            }
            while(optGuardian.firstChild){
                optGuardian.removeChild(optGuardian.firstChild);   
            }
            if(paises.includes(pais)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una region";
                option0.value = "none";
                optRegion.appendChild(option0);
                var regions = getRegiones(pais);
                for(region of regions){
                    var option = document.createElement("option");
                    option.text = region;
                    option.value = region;
                    optRegion.appendChild(option);        
                }
            }
        }

        function getCiudades(pais,region){
            var cities = [];
            var nombres = [];
            for(ciudad of ciudades){
                if(ciudad["pais"]==pais && ciudad["region"]==region){
                    cities.push({"id":ciudad["id"],"ciudad":ciudad["ciudad"]});
                    nombres.push(ciudad["ciudad"]);
                }
            }
            var res = {"cities":cities,"nombres":nombres};
            return res;
        }
        
        function setCiudades(){
            var optPais = document.getElementById("maletero-formulario-pais");
            var optRegion = document.getElementById("maletero-formulario-region");
            var optCiudad = document.getElementById("maletero-formulario-ciudad");
            var optGuardian = document.getElementById("maletero-formulario-guardian");
            var pais = optPais.value;
            var region = optRegion.value;
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);   
            }
            while(optGuardian.firstChild){
                optGuardian.removeChild(optGuardian.firstChild);   
            }
            var regions = getRegiones(pais);
            if(regions.includes(region)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una ciudad";
                option0.value = "none";
                optCiudad.appendChild(option0);            
                var cities = getCiudades(pais,region);
                for(city of cities["cities"]){
                    var option = document.createElement("option");
                    option.text = city["ciudad"];
                    option.id = city["ciudad"];
                    option.value = city["id"];
                    optCiudad.appendChild(option);
                }
            }
        }

        function getGuardianes(ciudad){
            var users = []
            for(usuario of usuarios){
                if(usuario["ciudad"]==ciudad && usuario["guardian"]==1){
                    users.push(usuario);
                }
            }
            return users;
        }

        function setGuardianes(){
            var optPais = document.getElementById("maletero-formulario-pais");
            var optRegion = document.getElementById("maletero-formulario-region");
            var optCiudad = document.getElementById("maletero-formulario-ciudad");
            var optGuardian = document.getElementById("maletero-formulario-guardian");
            var pais = optPais.value;
            var region = optRegion.value;
            var nombreCiudad = optCiudad.options[optCiudad.selectedIndex].id;
            var ciudad = optCiudad.value;
            while(optGuardian.firstChild){
                optGuardian.removeChild(optGuardian.firstChild);   
            }
            var cities = getCiudades(pais,region);
            
            if(cities["nombres"].includes(nombreCiudad)){
                var option0 = document.createElement("option");
                option0.text = "Escoge un guardián";
                option0.value = "none";
                optGuardian.appendChild(option0);            
                var guardianes = getGuardianes(ciudad);
                for(guardian of guardianes){
                    var option = document.createElement("option");
                    option.text = guardian["nombre"];
                    option.value = guardian["id"];
                    optGuardian.appendChild(option);        
                }
            }
        }

        window.onload = function(){
            document.getElementById("maletero-formulario-pais").onblur = setRegiones;
            document.getElementById("maletero-formulario-region").onblur = setCiudades;
            document.getElementById("maletero-formulario-ciudad").onblur = setGuardianes;
        }
    </script>
{% endblock %}