{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/registroStyle.css">
{% endblock %}
{% block body %}
    <section class="opinion" id="opinion">
        <form class="opinion-formulario" method="POST" action="{{ path('opinion')}}">
            <div class="campo-formulario">
                <p><label for="nombre">Nombre</label>
                <input type="text" name="usuario" required></p>
            </div>
            <div class="campo-formulario">
                <p><label for="pais">País</label>
                <select id="opinion-formulario-pais" class="opinion-formulario-pais" name="pais">
                    <option value="none">Escoge un país</option>
                    {% for pais in paises %}
                        <option value="{{ pais }}">{{ pais }}</option>
                    {% endfor %}
                </select></p>
            </div>
            <div class="campo-formulario">
                <p><label for="region">Región</label>
                <select id="opinion-formulario-region" class="opinion-formulario-region" name="region">
                </select></p>
            </div>
            <div class="campo-formulario">
                <p><label for="ciudad">Ciudad</label>
                <select id="opinion-formulario-ciudad" class="opinion-formulario-ciudad" name="ciudad">
                </select></p>
            </div>
            <div class="campo-formulario">
                <p><label for="guardian">Nombre del guardián</label>
                <select id="opinion-formulario-guardian" class="opinion-formulario-guardian" name="guardian">
                </select></p>
            </div>
            <div class="campo-formulario">
                <p><label for="fecha">Fecha de final</label>
                <input type="date" name="fecha" required></p>
            </div>
            <div class="campo-formulario">
                <p><label for="opinion">Deja aquí tu opinión</label><br>
                <textarea name="opinion" required></textarea></p>
            </div>
            <div class="opinion-formulario-submit">
                <p><input type="submit" value="¡Opina!"></p>
            </div>
        </form>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        var paises = [];
        {% for pais in paises %}
            paises.push("{{pais}}");
        {% endfor %}
        var regiones = [];
        {% for region in regiones %}
            regiones.push({"region": "{{region.region}}","pais": "{{region.pais}}"});
        {% endfor %}
        var ciudades = [];
        {% for ciudad in ciudades %}
            ciudades.push({"id":"{{ciudad.id}}","ciudad": "{{ciudad.ciudad}}","region": "{{ciudad.region}}","pais": "{{ciudad.pais}}"});
        {% endfor %}
        var usuarios = [];
        {% for usuario in usuarios %}
            usuarios.push({"id":"{{usuario.id}}","nombre": "{{usuario.nombre}}","email": "{{usuario.email}}","ciudad": "{{usuario.ciudad}}","guardian": "{{usuario.guardian}}"});
        {% endfor %}

        function getRegiones(pais){
            var regions = [];
            for(region of regiones){
                if(region["pais"] == pais){
                    regions.push(region["region"]);
                }
            }
            return regions;
        }

        function setRegiones(){
            var optPais = document.getElementById("opinion-formulario-pais");
            var optRegion = document.getElementById("opinion-formulario-region");
            var optCiudad = document.getElementById("opinion-formulario-ciudad");
            var optGuardian = document.getElementById("opinion-formulario-guardian");
            var pais = optPais.value;
            while(optRegion.firstChild){
                optRegion.removeChild(optRegion.firstChild);
            }
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);
            }
            while(optGuardian.firstChild){
                optGuardian.removeChild(optGuardian.firstChild);   
            }
            if(paises.includes(pais)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una region";
                option0.value = "none";
                optRegion.appendChild(option0);
                var regions = getRegiones(pais);
                for(region of regions){
                    var option = document.createElement("option");
                    option.text = region;
                    option.value = region;
                    optRegion.appendChild(option);        
                }
            }
        }

        function getCiudades(pais,region){
            var cities = [];
            var nombres = [];
            for(ciudad of ciudades){
                if(ciudad["pais"]==pais && ciudad["region"]==region){
                    cities.push({"id":ciudad["id"],"ciudad":ciudad["ciudad"]});
                    nombres.push(ciudad["ciudad"]);
                }
            }
            var res = {"cities":cities,"nombres":nombres};
            return res;
        }
        
        function setCiudades(){
            var optPais = document.getElementById("opinion-formulario-pais");
            var optRegion = document.getElementById("opinion-formulario-region");
            var optCiudad = document.getElementById("opinion-formulario-ciudad");
            var optGuardian = document.getElementById("opinion-formulario-guardian");
            var pais = optPais.value;
            var region = optRegion.value;
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);   
            }
            while(optGuardian.firstChild){
                optGuardian.removeChild(optGuardian.firstChild);   
            }
            var regions = getRegiones(pais);
            if(regions.includes(region)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una ciudad";
                option0.value = "none";
                optCiudad.appendChild(option0);            
                var cities = getCiudades(pais,region);
                for(city of cities["cities"]){
                    var option = document.createElement("option");
                    option.text = city["ciudad"];
                    option.id = city["ciudad"];
                    option.value = city["id"];
                    optCiudad.appendChild(option);
                }
            }
        }

        function getGuardianes(ciudad){
            var users = []
            for(usuario of usuarios){
                if(usuario["ciudad"]==ciudad && usuario["guardian"]==1){
                    users.push(usuario);
                }
            }
            return users;
        }

        function setGuardianes(){
            var optPais = document.getElementById("opinion-formulario-pais");
            var optRegion = document.getElementById("opinion-formulario-region");
            var optCiudad = document.getElementById("opinion-formulario-ciudad");
            var optGuardian = document.getElementById("opinion-formulario-guardian");
            var pais = optPais.value;
            var region = optRegion.value;
            var nombreCiudad = optCiudad.options[optCiudad.selectedIndex].id;
            var ciudad = optCiudad.value;
            while(optGuardian.firstChild){
                optGuardian.removeChild(optGuardian.firstChild);   
            }
            var cities = getCiudades(pais,region);
            
            if(cities["nombres"].includes(nombreCiudad)){
                var option0 = document.createElement("option");
                option0.text = "Escoge un guardián";
                option0.value = "none";
                optGuardian.appendChild(option0);            
                var guardianes = getGuardianes(ciudad);
                for(guardian of guardianes){
                    var option = document.createElement("option");
                    option.text = guardian["nombre"];
                    option.value = guardian["id"];
                    optGuardian.appendChild(option);        
                }
            }
        }

        window.onload = function(){
            document.getElementById("opinion-formulario-pais").onblur = setRegiones;
            document.getElementById("opinion-formulario-region").onblur = setCiudades;
            document.getElementById("opinion-formulario-ciudad").onblur = setGuardianes;
        }
    </script>
{% endblock %}