{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/perfilStyle.css">
{% endblock %}
{% block body %}
    <h1>Perfil de usuario</h1>
    <h2>Información personal</h2>
    <div class="infoLog">
        <p>Información:
            <ul>
                <li><b>Soy</b> {{ usuario }} ({{ email }})</li>
                <li><b>Vivo en</b> {{ ciudad }}, {{ region }}, {{ pais }}</li>
                <li>{{ guardian }} <b>soy guardián</b></li>
                <li>{{ viajero }} <b>soy viajero</b></li>
            </ul>
        </p>
    </div>
    <div class="cambio">
        <form class="formulario-cambio" method="POST" action="{{path('perfil-c')}}">
            <div class="campo-formulario">
                <p>Usuario 
                <input type="text" id="formulario-cambio-nombre" name="usuario" value='{{ usuario }}' readonly></p>
            </div>
            <div class="campo-formulario">
                <p>Correo electrónico 
                <input type="text" id="formulario-cambio-email" name="email" value='{{ email }}'></p>
            </div>
            <div class="campo-formulario">
                <p>País 
                <select id="formulario-cambio-pais" class="formulario-cambio-pais" name="pais">
                    <option value="none">Escoge un país</option>
                    {% for pais in paises %}
                        <option value="{{ pais }}">{{ pais }}</option>
                    {% endfor %}
                </select>
                </p>
            </div>
            <div class="campo-formulario">
                <p>Región
                <select id="formulario-cambio-region" class="formulario-cambio-region" name="region">
                </select>
                </p>
            </div>
            <div class="campo-formulario">
                <p>Ciudad 
                <select id="formulario-cambio-ciudad" class="formulario-cambio-ciudad" name="ciudad">
                </select></p>
            </div>
            <div class="campo-formulario">
                <p>Contraseña 
                <input type="password" id="formulario-cambio-contrasena" name="contraseña"></p>
            </div>
            <div class="campo-formulario">
                <p>Confirmar contraseña 
                <input type="password" id="formulario-cambio-confContra" name="confContra"></p>
            </div>
            <div class="campo-formulario">
                <p>Quiero ser:<br>
                <label for="Guardian">Guardián</label>: 
                <input type="radio" name="guardian" value="0"> No
                <input type="radio" name="guardian" value="1"> Sí<br>
                <label for="Viajero">Viajero</label>: 
                <input type="radio" name="viajero" value="0">No
                <input type="radio" name="viajero" value="1"> Sí<br>
                </p>
            </div>
            <div class="boton-formulario">
                <input type="submit" value="Cambiar" />
            </div>            
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="js/validacionPerfil.js"></script>
    <script>
        var paises = [];
        var regiones = [];
        var ciudades = [];
        {% for pais in paises %}
            paises.push("{{pais}}");
        {% endfor %}
        {% for region in regiones %}
            regiones.push({"region": "{{region.region}}","pais": "{{region.pais}}"});
        {% endfor %}
        console.log("mira")
        {% for ciudad in ciudades %}
            ciudades.push({"ciudad": "{{ciudad.ciudad}}","region": "{{ciudad.region}}","pais": "{{ciudad.pais}}"});
        {% endfor %}

        function getRegiones(pais){
            var regions = [];
            for(region of regiones){
                if(region["pais"] == pais){
                    regions.push(region["region"]);
                }
            }
            return regions;
        }
        function getCiudades(pais,region){
            var cities = [];
            for(ciudad of ciudades){
                if(ciudad["pais"]==pais && ciudad["region"]==region){
                    cities.push(ciudad["ciudad"]);
                }
            }
            return cities;
        }
        
        function setRegiones(){
            var optPais = document.getElementById("formulario-cambio-pais");
            var optRegion = document.getElementById("formulario-cambio-region");
            var optCiudad = document.getElementById("formulario-cambio-ciudad");
            while(optRegion.firstChild){
                optRegion.removeChild(optRegion.firstChild);
            }
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);
            }
            var pais = optPais.value;
            if(paises.includes(pais)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una region";
                option0.value = "none";
                optRegion.appendChild(option0);
                var regions = getRegiones(pais);
                for(region of regions){
                    var option = document.createElement("option");
                    option.text = region;
                    option.value = region;
                    optRegion.appendChild(option);        
                }
            }
        }
        function setCiudades(){
            var optPais = document.getElementById("formulario-cambio-pais");
            var pais = optPais.value;
            var regions = getRegiones(pais);
            var optRegion = document.getElementById("formulario-cambio-region");
            var region = optRegion.value;
            var optCiudad = document.getElementById("formulario-cambio-ciudad");
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);   
            }
            if(regions.includes(region)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una ciudad";
                option0.value = "none";
                optCiudad.appendChild(option0);            
                var cities = getCiudades(pais,region);
                for(city of cities){
                    var option = document.createElement("option");
                    option.text = city;
                    option.value = city;
                    optCiudad.appendChild(option);        
                }
            }
        }

        window.onload = function(){
            document.getElementById("formulario-cambio-pais").onblur = setRegiones;
            document.getElementById("formulario-cambio-region").onblur = setCiudades;
        }
    </script>

{% endblock %}