{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/registroStyle.css">
{% endblock %}
{% block body %}
    <h1>¡Felicidades!</h1>
    <h2>¡Tu demostración está en proceso!</h2>
    <section class="registro">
        <div class="registro-informacion">
            <p>Información de registro:
                <ul>
                    <li><b>Nombre</b>: {{ usuario.usuario }}</li>
                    <li><b>Correo electrónico</b>: {{ usuario.email }}</li>
                    <li><b>Ciudad</b>: {{ usuario.ciudad }}, {{usuario.region}}, {{usuario.pais}}</li>
                </ul>
            </p>
        </div>
    </section>
    <section class="formulario" id="formulario">
        <h2>Si desea registrarse, hágalo aquí:</h2>
        <form id="registro" class="formulario-registro" method="POST" action="{{path('registrado')}}">
            <div class="campo-formulario">
                <p>Usuario 
                <input type="text" id="formulario-registro-nombre" name="usuario" value="{{ usuario.usuario }}"></p>
                <label for="usuario" id="formulario-registro-nombre-message" class="status-noshow">Nombre inválido (mínimo 2 caracteres)</label>
            </div>
            <div class="campo-formulario">
                <p>Correo electrónico 
                <input type="text" id="formulario-registro-email" name="email" value={{ usuario.email }}></p>
                <label for="email" id="formulario-registro-email-message" class="status-noshow">Correo electrónico no válido</label>
            </div>
            <div class="campo-formulario">
                <p>País 
                <select id="formulario-registro-pais" class="formulario-registro-pais" name="pais">
                    <option value="none">Escoge un país</option>
                    {% for pais in paises %}
                        <option value="{{ pais }}">{{ pais }}</option>
                    {% endfor %}
                </select></p>
            </div>
            <div class="campo-formulario">
                <p>Ciudad 
                <select id="formulario-registro-region" class="formulario-registro-region" name="region">
                </select>
            </div>
            <div class="campo-formulario">
                <p>Ciudad 
                <select id="formulario-registro-ciudad" class="formulario-registro-ciudad" name="ciudad">
                </select></p>
            </div>
            <div class="campo-formulario">
                <p>Contraseña 
                <input type="password" id="formulario-registro-contrasena" name="contraseña"></p>
            </div>
            <div class="campo-formulario">
                <p>Confirmar contraseña 
                <input type="password" id="formulario-registro-confContra" name="confContra"></p>
                <label for="email" id="formulario-registro-ciudad-confContra" class="status-noshow">Valor no válido</label>
            </div>
            <div class="campo-formulario">
                <p>Quiero ser:<br>
                <label for="Guardian">Guardián</label>: 
                    <input type="radio" name="guardian" value="0">No
                    <input type="radio" name="guardian" value="1"> Sí<br>
                <label for="Viajero">Viajero</label>: 
                    <input type="radio" name="viajero" value="0">No
                    <input type="radio" name="viajero" value="1"> Sí<br>
                </p>
            </div>
            <div class="boton-formulario">
                <input type="submit" value="¡Empieza tu aventura!">
            </div>
        </form>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="js/validacionRegistro.js"></script>
    <script>
        var paises = [];
        {% for pais in paises %}
            paises.push("{{pais}}");
        {% endfor %}
        var regiones = [];
        {% for region in regiones %}
            regiones.push({"region": "{{region.region}}","pais": "{{region.pais}}"});
        {% endfor %}
        var ciudades = [];
        {% for ciudad in ciudades %}
            ciudades.push({"ciudad": "{{ciudad.ciudad}}","region": "{{ciudad.region}}","pais": "{{ciudad.pais}}"});
        {% endfor %}

        function getRegiones(pais){
            var regions = [];
            for(region of regiones){
                if(region["pais"] == pais){
                    regions.push(region["region"]);
                }
            }
            return regions;
        }
        function getCiudades(pais,region){
            var cities = [];
            for(ciudad of ciudades){
                if(ciudad["pais"]==pais && ciudad["region"]==region){
                    cities.push(ciudad["ciudad"]);
                }
            }
            return cities;
        }
        
        function setRegiones(){
            var optPais = document.getElementById("formulario-registro-pais");
            var optRegion = document.getElementById("formulario-registro-region");
            var optCiudad = document.getElementById("formulario-registro-ciudad");
            while(optRegion.firstChild){
                optRegion.removeChild(optRegion.firstChild);
            }
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);
            }
            var pais = optPais.value;
            if(paises.includes(pais)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una region";
                option0.value = "none";
                optRegion.appendChild(option0);
                var regions = getRegiones(pais);
                for(region of regions){
                    var option = document.createElement("option");
                    option.text = region;
                    option.value = region;
                    optRegion.appendChild(option);        
                }
            }
        }
        function setCiudades(){
            var optPais = document.getElementById("formulario-registro-pais");
            var pais = optPais.value;
            var regions = getRegiones(pais);
            var optRegion = document.getElementById("formulario-registro-region");
            var region = optRegion.value;
            var optCiudad = document.getElementById("formulario-registro-ciudad");
            while(optCiudad.firstChild){
                optCiudad.removeChild(optCiudad.firstChild);   
            }
            if(regions.includes(region)){
                var option0 = document.createElement("option");
                option0.text = "Escoge una ciudad";
                option0.value = "none";
                optCiudad.appendChild(option0);            
                var cities = getCiudades(pais,region);
                for(city of cities){
                    var option = document.createElement("option");
                    option.text = city;
                    option.value = city;
                    optCiudad.appendChild(option);        
                }
            }
        }
        window.onload = function(){
            document.getElementById("formulario-registro-pais").onblur = setRegiones;
            document.getElementById("formulario-registro-region").onblur = setCiudades;
        }
    </script>
{% endblock %}